Repository liyao1520/promise-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier, yarn lint, stylelint --fix

feat: 添加 volar 提示
  package.json
  promiseui-cli/commands/build.ts
  promiseui-cli/index.ts
  promiseui/loadingBar/src/loadingBar.tsx
  promiseui/shared/components/loading/index.scss
  promiseui/styles-var/index.scss
  promiseui/styles/_animation.scss
  promiseui/styles/_normalize.scss
  promiseui/styles/base.scss
  vite.config.ts
  volar.d.ts
Due: yarn prettier, yarn lint, stylelint --fix

feat: 支持volar 代码提示
  docs/.vitepress/config.ts
  docs/quick-start/index.md
  package-lock.json
  package.json
  promiseui-cli/commands/build.ts
  promiseui/index.ts
  promiseui/loadingBar/src/loadingBar.tsx
  resolver/index.js
  resolver/resolver.d.ts
  volar.d.ts
  yarn.lock
Due: yarn prettier, yarn lint

docs: 文档官网添加换色
  README.md
  docs/.vitepress/theme/promiseui-theme/components/HomeHero.vue
  docs/.vitepress/theme/promiseui-theme/components/NavBar.vue
  docs/.vitepress/theme/promiseui-theme/components/NavBarTitle.vue
  docs/.vitepress/theme/promiseui-theme/components/ThemeColor.vue
  docs/index.md
  promiseui/button/index.ts
  volar.d.ts
Due: yarn prettier, yarn lint, stylelint --fix

feat: autocomplete和select组件支持键盘操作
  docs/.vitepress/theme/promiseui-theme/components/NavBar.vue
  docs/components/autoComplete/index.md
  package.json
  promiseui/autoComplete/src/autoComplete-types.ts
  promiseui/autoComplete/src/autoComplete.tsx
  promiseui/autoComplete/src/index.scss
  promiseui/select/src/hooks/use-keyboard-select.ts
  promiseui/select/src/hooks/use-option.ts
  promiseui/select/src/index.scss
  promiseui/select/src/select.tsx
  promiseui/virtualScroll/src/index.scss
  promiseui/virtualScroll/src/virtualScroll.tsx
  src/App.vue
Due: yarn prettier, yarn lint, stylelint --fix

fix: overlay大小改变时位置不准确.select,autoComplete按回车失效
  package.json
  promiseui/autoComplete/src/autoComplete.tsx
  promiseui/input/src/hooks/use-event.ts
  promiseui/input/src/input.tsx
  promiseui/overlay/src/hooks/use-overlay.ts
  promiseui/select/src/hooks/use-input.ts
  promiseui/select/src/hooks/use-keyboard-select.ts
  promiseui/select/src/hooks/use-option.ts
  promiseui/select/src/select.tsx
  promiseui/virtualScroll/src/virtualScroll.tsx
  src/App.vue
Due: yarn prettier, yarn lint, stylelint --fix

feat: datePicker base
  docs/.vitepress/sidebar.json
  docs/components/datePicker/index.md
  package.json
  promiseui/button/src/index.scss
  promiseui/datePicker/__test__/datePicker.spec.ts
  promiseui/datePicker/index.ts
  promiseui/datePicker/src/datePicker-day.tsx
  promiseui/datePicker/src/datePicker-header.tsx
  promiseui/datePicker/src/datePicker-month.tsx
  promiseui/datePicker/src/datePicker-types.ts
  promiseui/datePicker/src/datePicker.tsx
  promiseui/datePicker/src/hooks/use-day-list.ts
  promiseui/datePicker/src/hooks/use-select-current-date.ts
  promiseui/datePicker/src/hooks/use-toggle-page.ts
  promiseui/datePicker/src/icons/IconChevronLeft.tsx
  promiseui/datePicker/src/icons/IconChevronRight.tsx
  promiseui/datePicker/src/icons/IconDoubleChevronLeft.tsx
  promiseui/datePicker/src/icons/IconDoubleChevronRight.tsx
  promiseui/datePicker/src/index.scss
  promiseui/datePicker/src/utils/date.ts
  promiseui/input/src/index.scss
  promiseui/input/src/input-types.ts
  promiseui/input/src/input.tsx
  promiseui/shared/utils/__test__/date.spec.ts
  promiseui/shared/utils/date.ts
  promiseui/vue-promiseui.ts
  src/App.vue
  yarn.lock
Due: yarn prettier, yarn lint, stylelint --fix

feat: datePicker
  promiseui/datePicker/src/datePicker-day.tsx
  promiseui/datePicker/src/datePicker-header.tsx
  promiseui/datePicker/src/datePicker-month.tsx
  promiseui/datePicker/src/datePicker-types.ts
  promiseui/datePicker/src/datePicker-year.tsx
  promiseui/datePicker/src/datePicker.tsx
  promiseui/datePicker/src/hooks/use-day-list.ts
  promiseui/datePicker/src/hooks/use-dayjs-init.ts
  promiseui/datePicker/src/hooks/use-month-list.ts
  promiseui/datePicker/src/hooks/use-select-current-date.ts
  promiseui/datePicker/src/hooks/use-toggle-page.ts
  promiseui/datePicker/src/index.scss
  promiseui/datePicker/src/utils/date.ts
  promiseui/input/src/hooks/use-event.ts
  promiseui/overlay/src/overlay-types.ts
  promiseui/overlay/src/overlay.tsx
  src/App.vue
Due: yarn prettier, yarn lint, stylelint --fix

docs: datepicker 基本使用
  docs/.vitepress/theme/register-components.js
  docs/components/datePicker/index.md
  promiseui/datePicker/src/datePicker-day.tsx
  promiseui/datePicker/src/datePicker.tsx
  promiseui/datePicker/src/index.scss
  promiseui/input/src/input-types.ts
  promiseui/input/src/input.tsx
Due: yarn prettier, yarn lint, stylelint --fix

docs: tag 用clientOnly包裹,防止报错
  docs/.vitepress/theme/register-components.js
  docs/components/datePicker/index.md
  promiseui/datePicker/src/datePicker-day.tsx
  promiseui/datePicker/src/hooks/use-select-current-date.ts
Due: yarn prettier, yarn lint

fix: 解决打包报错
  .env.development
  docs/.vitepress/theme/myLayout.ts
  docs/.vitepress/theme/theme-default/Layout.vue
  package.json
  promiseui/index.ts
  promiseui/theme/index.ts
  tsconfig.json
  volar.d.ts
  yarn.lock
Due: yarn prettier, yarn lint, stylelint --fix

feat: version 0.0.20-beta
  package.json
  yarn.lock
Due: none

docs: 修改文档错误
  docs/.vitepress/config.ts
  docs/.vitepress/theme/register-components.ts
  docs/components/button/index.md
  docs/components/switch/index.md
  package.json
  promiseui/button/src/index.scss
  promiseui/types.ts
  yarn.lock
Due: yarn prettier, yarn lint, stylelint --fix

fix: 升级vitepress-demo-editor,解决了globalProperties报错
  package.json
  vite.config.ts
  yarn.lock
Due: yarn prettier, yarn lint

fix: 修改文档配置
  docs/.vitepress/config.ts
  docs/.vitepress/theme/raw.d.ts
  docs/.vitepress/theme/register-components.ts
  docs/components/table/index.md
  docs/vite.config.ts
  package.json
  src/main.ts
  vite.config.ts
  yarn.lock
Due: yarn prettier, yarn lint

feat: playground
  docs/.vitepress/config.ts
  docs/.vitepress/theme/playground/index.vue
  docs/.vitepress/theme/playground/template.jsx
  docs/.vitepress/theme/playground/template.vue
  docs/.vitepress/theme/promiseui-utils.ts
  docs/.vitepress/theme/register-components.ts
  docs/playground/index.md
  docs/vite.config.ts
Due: yarn prettier, yarn lint, stylelint --fix

fix: 修改模板
  docs/.vitepress/theme/playground/template.jsx
  docs/.vitepress/theme/playground/template.vue
  package.json
  promiseui/table/src/store/index.ts
  promiseui/table/src/table.tsx
  yarn.lock
Due: yarn prettier, yarn lint, stylelint --fix

chore: vitepress
  package.json
  yarn.lock
Due: none

Create static.yml
  .github/workflows/static.yml
Due: none

Update static.yml
  .github/workflows/static.yml
Due: none

feat: test
  .husky/pre-commit
  package.json
  promiseui/button/__test__/button.spec.tsx
  yarn.lock
Due: yarn prettier, yarn lint

feat: test
  yarn.lock
Due: none

fix: build error
  vite.config.ts
Due: yarn prettier, yarn lint

fix: build error
  yarn.lock
Due: none

Path conditions:
  yarn prettier: any of: *.{js,ts,tsx,vue}
  yarn lint: any of: *.{js,ts,tsx,vue}
  stylelint --fix: any of: *.{html,vue,css,scss,sass,less}
