Repository liyao1520/promise-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier, yarn lint, stylelint --fix

Update static.yml
  .github/workflows/static.yml
Due: none

fix: build error
  package.json
Due: none

fix: base url
  docs/vite.config.ts
Due: yarn prettier, yarn lint

fix: build error
  .gitignore
  docs/.vitepress/theme/raw.d.ts
  docs/.vitepress/theme/register-components.ts
  index.html
  package.json
  pnpm-lock.yaml
  promiseui/scrollbar/src/scroll-bar.tsx
  promiseui/table/src/utils/getColKey.ts
  tsconfig.json
Due: yarn prettier, yarn lint, stylelint --fix

fix: build error
  package.json
  pnpm-lock.yaml
  src/compiler.ts
Due: yarn prettier, yarn lint

Update README.md
  README.md
Due: none

Path conditions:
  yarn prettier: any of: *.{js,ts,tsx,vue}
  yarn lint: any of: *.{js,ts,tsx,vue}
  stylelint --fix: any of: *.{html,vue,css,scss,sass,less}
