Repository liyao1520/promise-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier, yarn lint, stylelint --fix

.lintstagedrc:

{
  "*.{js,ts,tsx,vue}": [
    "yarn prettier",
    "yarn lint"
  ],
  "*.{html,vue,css,scss,sass,less}": [
    "stylelint --fix"
  ]
}

feat: 主题色配置
  .eslintrc.js
  lib/index.js
  promiseui/button/__tests__/button.spec.ts
  promiseui/button/index.ts
  promiseui/theme/index.ts
  promiseui/theme/theme.ts
  promiseui/theme/themes/dart.ts
  promiseui/theme/themes/light.ts
Due: yarn prettier, yarn lint

feat: cli自动生成目录
  .eslintrc.js
  lib/index.js
  package.json
  promiseui-cli/commands/create.js
  promiseui-cli/generator/generatorComponent.js
  promiseui-cli/templates/component.js
  promiseui-cli/templates/index.js
  promiseui-cli/templates/scss.js
  promiseui-cli/templates/types.js
  promiseui-cli/templates/utils.js
  promiseui/theme/themes/light.ts
  yarn.lock
Due: yarn prettier, yarn lint

fix: 修改cli生成代码逻辑
  lib/index.js
  promiseui-cli/generator/generatorComponent.js
  promiseui-cli/templates/test.js
  promiseui/button/__test__/button.spec.ts
  promiseui/button/__tests__/button.spec.ts
  promiseui/button/index.ts
  promiseui/button/src/button-types.ts
  promiseui/button/src/button.tsx
  promiseui/button/src/index.scss
Due: yarn prettier, yarn lint, stylelint --fix

fix: 修改test文件名
  lib/index.js
  promiseui-cli/generator/generatorComponent.js
  promiseui-cli/index.js
  promiseui-cli/templates/component-test.js
Due: yarn prettier, yarn lint

feat: docs集成theme
  .gitignore
  docs/.vitepress/theme-default/index.js
  docs/.vitepress/theme/index.ts
  docs/.vitepress/theme/register-components.js
  docs/components/button/index.md
  docs/vite.config.ts
  lib/index.js
  package.json
  promiseui-cli/generator/__generaoterScssVarScript.js
  promiseui-cli/index.js
  promiseui-cli/templates/scss.js
  promiseui/button/src/button.tsx
  promiseui/button/src/index.scss
  promiseui/styles-var/index.scss
  promiseui/styles/_colors.scss
  promiseui/theme/index.ts
  promiseui/theme/themes/dart.ts
  vite.config.ts
  yarn.lock
Due: yarn prettier, yarn lint, stylelint --fix

fix: 修改cli template
  lib/index.js
  promiseui-cli/templates/scss.js
  promiseui-cli/templates/utils.js
  promiseui/button/src/button.tsx
  promiseui/button/src/index.scss
  promiseui/shared/hooks/use-namespace.ts
  promiseui/styles-var/index.scss
  promiseui/styles/_prefix.scss
  promiseui/vue-promiseui.ts
Due: yarn prettier, yarn lint, stylelint --fix

feat: 按钮组件支持type,size,disabled
  docs/.vitepress/theme/register-components.js
  docs/components/button/index.md
  promiseui-cli/generator/__generaoterScssVarScript.js
  promiseui/button/src/button-types.ts
  promiseui/button/src/button.tsx
  promiseui/button/src/index.scss
  promiseui/space/__test__/space.spec.ts
  promiseui/space/index.ts
  promiseui/space/src/index.scss
  promiseui/space/src/space-types.ts
  promiseui/space/src/space.tsx
  promiseui/styles-var/index.scss
  promiseui/styles/_colors.scss
  promiseui/styles/_font.scss
  promiseui/styles/_normalize.scss
  promiseui/styles/_other.scss
  promiseui/styles/_radius.scss
  promiseui/styles/index.scss
  promiseui/theme/themes/light.ts
  promiseui/vue-promiseui.ts
Due: yarn prettier, yarn lint, stylelint --fix

feat: button支持fillMode
  __mocks__/file-mock.ts
  __mocks__/style-mock.ts
  docs/components/button/index.md
  jest.config.js
  promiseui/button/__test__/button.spec.ts
  promiseui/button/__test__/button.spec.tsx
  promiseui/button/src/button-types.ts
  promiseui/button/src/button.tsx
  promiseui/button/src/index.scss
Due: yarn prettier, yarn lint, stylelint --fix

fix: 修改eslint配置
  .eslintrc.js
  promiseui/button/src/button.tsx
  promiseui/space/__test__/space.spec.ts
  promiseui/space/src/space-types.ts
  promiseui/space/src/space.tsx
Due: yarn prettier, yarn lint

feat: button 添加 icon 和 loading
  .eslintrc.js
  docs/.vitepress/config.ts
  docs/.vitepress/theme/index.ts
  docs/.vitepress/theme/register-components.js
  docs/components/button/index.md
  docs/vite.config.ts
  package.json
  promiseui/button/index.ts
  promiseui/button/src/button-types.ts
  promiseui/button/src/button.tsx
  promiseui/button/src/components/button-loading.tsx
  promiseui/button/src/index.scss
  promiseui/icon/__test__/icon.spec.ts
  promiseui/icon/index.ts
  promiseui/icon/src/icon-types.ts
  promiseui/icon/src/icon.tsx
  promiseui/icon/src/iconConfigProvider.tsx
  promiseui/icon/src/index.scss
  promiseui/space/index.ts
  promiseui/vue-promiseui.ts
  src/App.vue
  src/main.ts
  tsconfig.json
  yarn.lock
Due: yarn prettier, yarn lint, stylelint --fix

fix: 修改icon
  docs/.vitepress/plugins/vitepress-demo-editor/compiler/index.ts
  docs/.vitepress/plugins/vitepress-demo-editor/components/Demo.vue
  docs/.vitepress/theme/register-components.js
  promiseui/button/src/button.tsx
  promiseui/icon/index.ts
  promiseui/icon/src/icon.tsx
  promiseui/icon/src/iconConfigProvider.tsx
  promiseui/icon/src/index.scss
  src/App.vue
  tsconfig.json
Due: yarn prettier, yarn lint, stylelint --fix

feat: Message组件base
  promiseui/button/src/button.tsx
  promiseui/index.ts
  promiseui/message/__test__/message.spec.ts
  promiseui/message/index.ts
  promiseui/message/src/index.scss
  promiseui/message/src/message-service.tsx
  promiseui/message/src/message-types.ts
  promiseui/message/src/message.tsx
  promiseui/shared/utils.ts
  promiseui/vue-promiseui.ts
  src/App.vue
Due: yarn prettier, yarn lint, stylelint --fix

fix: type
  .eslintrc.js
  promiseui/message/src/message-service.tsx
Due: yarn prettier, yarn lint

fix: type
  promiseui/message/src/message-service.tsx
Due: yarn prettier, yarn lint

fix: message 90%
  jest.config.js
  package.json
  promiseui/message/__test__/message.spec.ts
  promiseui/message/src/hooks/use-icon.tsx
  promiseui/message/src/index.scss
  promiseui/message/src/message-service.tsx
  promiseui/message/src/message-types.ts
  promiseui/message/src/message.tsx
  promiseui/styles/_colors.scss
  promiseui/styles/_other.scss
  promiseui/theme/themes/light.ts
  src/App.vue
  src/main.ts
  yarn.lock
Due: yarn prettier, yarn lint, stylelint --fix

feat: message 90%
  promiseui/message/src/hooks/use-icon.tsx
  promiseui/message/src/message-service.tsx
  promiseui/message/src/message.tsx
Due: yarn prettier, yarn lint

feat: 完成message组件以及测试
  docs/.vitepress/config.ts
  docs/.vitepress/plugins/vitepress-demo-editor/compiler/importMaps.ts
  docs/.vitepress/plugins/vitepress-demo-editor/compiler/index.ts
  docs/.vitepress/plugins/vitepress-demo-editor/index.ts
  docs/.vitepress/plugins/vitepress-demo-editor/memo.ts
  docs/.vitepress/sidebar.json
  docs/.vitepress/theme/index.ts
  docs/.vitepress/theme/promiseui-theme/styles/layout.css
  docs/.vitepress/theme/register-components.js
  docs/components/button/index.md
  docs/components/message/index.md
  lib/index.js
  package.json
  promiseui-cli/generator/generatorComponent.js
  promiseui/button/src/button-types.ts
  promiseui/button/src/index.scss
  promiseui/message/__test__/message.spec.ts
  promiseui/message/src/index.scss
  promiseui/message/src/message-types.ts
  promiseui/styles/_colors.scss
  promiseui/styles/_radius.scss
  promiseui/theme/themes/light.ts
  src/App.vue
  yarn.lock
Due: yarn prettier, yarn lint, stylelint --fix

fix: js -> ts
  .gitignore
  docs/.vitepress/plugins/vitepress-demo-editor/components/Demo.vue
  docs/.vitepress/plugins/vitepress-demo-editor/components/Edit.vue
  lib/index.js
  package.json
  promiseui-cli/commands/build.ts
  promiseui-cli/commands/create.ts
  promiseui-cli/generator/__generaoterScssVarScript.ts
  promiseui-cli/generator/generatorComponent.ts
  promiseui-cli/index.ts
  promiseui-cli/templates/component-test.ts
  promiseui-cli/templates/component.ts
  promiseui-cli/templates/index.ts
  promiseui-cli/templates/scss.ts
  promiseui-cli/templates/types.ts
  promiseui-cli/templates/utils.ts
  tsconfig.json
  yarn.lock
Due: yarn prettier, yarn lint, stylelint --fix

fix: 修改按钮点击效果
  promiseui/button/src/button.tsx
  promiseui/button/src/hooks/use-event.ts
  promiseui/button/src/index.scss
  src/App.vue
Due: yarn prettier, yarn lint, stylelint --fix

feat: input base
  docs/.vitepress/plugins/vitepress-demo-editor/compiler/importMaps.ts
  docs/.vitepress/sidebar.json
  docs/.vitepress/theme/promiseui-theme/styles/layout.css
  docs/.vitepress/theme/register-components.js
  docs/components/button/index.md
  docs/components/input/index.md
  promiseui/button/src/index.scss
  promiseui/icon/src/icon-types.ts
  promiseui/icon/src/icon.tsx
  promiseui/input/__test__/input.spec.ts
  promiseui/input/index.ts
  promiseui/input/src/hooks/use-event.ts
  promiseui/input/src/index.scss
  promiseui/input/src/input-types.ts
  promiseui/input/src/input.tsx
  promiseui/shared/utils.ts
  promiseui/styles/_colors.scss
  promiseui/theme/themes/light.ts
  promiseui/vue-promiseui.ts
Due: yarn prettier, yarn lint, stylelint --fix

feat: input base
  promiseui/input/src/input.tsx
Due: yarn prettier, yarn lint

test: input(输入框) jest 测试
  promiseui/input/__test__/input.spec.ts
  promiseui/input/__test__/input.spec.tsx
Due: yarn prettier, yarn lint

fix: vitpress build window is not defined
  docs/.vitepress/sidebar.json
  docs/.vitepress/theme/register-components.js
  docs/components/overlay/index.md
  docs/vite.config.ts
  promiseui-cli/generator/generatorComponent.ts
  promiseui/overlay/__test__/overlay.spec.ts
  promiseui/overlay/index.ts
  promiseui/overlay/src/index.scss
  promiseui/overlay/src/overlay-types.ts
  promiseui/overlay/src/overlay.tsx
Due: yarn prettier, yarn lint, stylelint --fix

feat: overlay 组件
  docs/components/overlay/index.md
  promiseui/button/src/button-types.ts
  promiseui/button/src/button.tsx
  promiseui/button/src/index.scss
  promiseui/overlay/__test__/overlay.spec.ts
  promiseui/overlay/__test__/overlay.spec.tsx
  promiseui/overlay/src/hooks/use-overlay.ts
  promiseui/overlay/src/index.scss
  promiseui/overlay/src/overlay-types.ts
  promiseui/overlay/src/overlay.tsx
  promiseui/styles/_other.scss
  promiseui/vue-promiseui.ts
  src/App.vue
Due: yarn prettier, yarn lint, stylelint --fix

test: overlay jest test
  promiseui/overlay/__test__/overlay.spec.tsx
  promiseui/overlay/src/overlay-types.ts
Due: yarn prettier, yarn lint

test: overlay jest test
  .eslintrc.js
  promiseui/overlay/src/overlay.tsx
Due: yarn prettier, yarn lint

style: overlay实现改为hooks方式
  docs/.vitepress/sidebar.json
  docs/components/dropdown/index.md
  promiseui/dropdown/__test__/dropdown.spec.ts
  promiseui/dropdown/index.ts
  promiseui/dropdown/src/dropdown-types.ts
  promiseui/dropdown/src/dropdown.tsx
  promiseui/dropdown/src/index.scss
  promiseui/overlay/src/hooks/use-overlay.ts
  promiseui/overlay/src/overlay.tsx
Due: yarn prettier, yarn lint, stylelint --fix

fix: 修复origin销毁overlay仍然存在的bug
  promiseui/overlay/__test__/overlay.spec.tsx
  promiseui/overlay/src/hooks/use-overlay.ts
  promiseui/overlay/src/overlay-types.ts
  promiseui/overlay/src/overlay.tsx
Due: yarn prettier, yarn lint

feat: dropdown组件
  docs/components/overlay/index.md
  promiseui/button/src/button-types.ts
  promiseui/dropdown/index.ts
  promiseui/dropdown/src/dropdown-item.tsx
  promiseui/dropdown/src/dropdown-types.ts
  promiseui/dropdown/src/dropdown.tsx
  promiseui/dropdown/src/hooks/use-event.ts
  promiseui/dropdown/src/index.scss
  promiseui/overlay/__test__/overlay.spec.tsx
  promiseui/overlay/src/hooks/use-overlay.ts
  promiseui/overlay/src/overlay-types.ts
  promiseui/overlay/src/overlay.tsx
  promiseui/shared/hooks/use-click-outside.ts
  promiseui/styles/_colors.scss
  promiseui/styles/_font.scss
  promiseui/theme/themes/light.ts
  promiseui/vue-promiseui.ts
  src/App.vue
  tsconfig.json
Due: yarn prettier, yarn lint, stylelint --fix

feat: dropdown item props添加disabled
  docs/components/dropdown/index.md
  promiseui/dropdown/src/dropdown-item.tsx
  promiseui/dropdown/src/dropdown-types.ts
  promiseui/dropdown/src/index.scss
  src/App.vue
Due: yarn prettier, yarn lint, stylelint --fix

docs: dropdown 文档
  docs/components/dropdown/index.md
  promiseui/dropdown/src/dropdown-item.tsx
  promiseui/dropdown/src/dropdown-types.ts
  promiseui/dropdown/src/dropdown.tsx
  promiseui/dropdown/src/hooks/use-event.ts
  promiseui/dropdown/src/index.scss
  promiseui/input/src/index.scss
  promiseui/overlay/src/overlay-types.ts
  promiseui/overlay/src/overlay.tsx
  promiseui/styles/_colors.scss
  promiseui/theme/themes/light.ts
  src/App.vue
Due: yarn prettier, yarn lint, stylelint --fix

docs: dropdown 文档
  docs/components/dropdown/index.md
Due: none

test: dropdown test
  promiseui/dropdown/__test__/dropdown.spec.ts
  promiseui/dropdown/__test__/dropdown.spec.tsx
  promiseui/dropdown/src/dropdown.tsx
  promiseui/dropdown/src/index.scss
  promiseui/input/__test__/input.spec.tsx
Due: yarn prettier, yarn lint, stylelint --fix

feat: tabs 组件 base
  docs/.vitepress/sidebar.json
  docs/components/tabs/index.md
  promiseui/dropdown/src/dropdown-types.ts
  promiseui/input/src/input-types.ts
  promiseui/styles/_normalize.scss
  promiseui/tabs/__test__/tabs.spec.ts
  promiseui/tabs/index.ts
  promiseui/tabs/src/hooks/use-tabs.ts
  promiseui/tabs/src/index.scss
  promiseui/tabs/src/tab-pane.tsx
  promiseui/tabs/src/tabs-types.ts
  promiseui/tabs/src/tabs.tsx
  promiseui/types.ts
  promiseui/vue-promiseui.ts
  src/App.vue
  src/Demo.vue
Due: yarn prettier, yarn lint, stylelint --fix

feat: tabs 添加 card 类型
  promiseui/icon/src/icon-types.ts
  promiseui/shared/utils.ts
  promiseui/styles/_font.scss
  promiseui/styles/_normalize.scss
  promiseui/tabs/src/hooks/use-tabs.ts
  promiseui/tabs/src/index.scss
  promiseui/tabs/src/tab-pane.tsx
  promiseui/tabs/src/tabs-types.ts
  promiseui/tabs/src/tabs.tsx
  src/App.vue
Due: yarn prettier, yarn lint, stylelint --fix

docs: tabs 文档
  docs/.vitepress/plugins/vitepress-demo-editor/components/Demo.vue
  docs/components/tabs/index.md
Due: yarn prettier, yarn lint, stylelint --fix

docs: tabs 文档
  promiseui/shared/hooks/use-vertical-wheel.ts
  promiseui/tabs/src/hooks/use-tabs.ts
  promiseui/tabs/src/index.scss
  promiseui/tabs/src/tab-pane.tsx
  promiseui/tabs/src/tabs-types.ts
  promiseui/tabs/src/tabs.tsx
  src/App.vue
  src/Demo.vue
Due: yarn prettier, yarn lint, stylelint --fix

feat: 添加Wave工具组件
  promiseui/button/__test__/button.spec.tsx
  promiseui/button/src/button-types.ts
  promiseui/button/src/button.tsx
  promiseui/button/src/index.scss
  promiseui/input/__test__/input.spec.tsx
  promiseui/input/src/index.scss
  promiseui/input/src/input.tsx
  promiseui/overlay/src/hooks/use-overlay.ts
  promiseui/styles/_colors.scss
  promiseui/styles/_wave.scss
  promiseui/styles/index.scss
  promiseui/theme/themes/light.ts
  promiseui/utils/findDOMNode.ts
  promiseui/utils/wave.tsx
Due: yarn prettier, yarn lint, stylelint --fix
