Repository liyao1520/promise-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier, yarn lint, stylelint --fix

feat: messageBox组件
  .eslintrc.js
  docs/.vitepress/sidebar.json
  docs/components/messageBox/index.md
  promiseui/button/src/button-types.ts
  promiseui/button/src/index.scss
  promiseui/messageBox/__test__/messageBox.spec.ts
  promiseui/messageBox/index.ts
  promiseui/messageBox/src/index.scss
  promiseui/messageBox/src/messageBox-service.tsx
  promiseui/messageBox/src/messageBox-types.ts
  promiseui/messageBox/src/messageBox.tsx
  promiseui/modal/src/index.scss
  promiseui/modal/src/modal-types.ts
  promiseui/modal/src/modal.tsx
  promiseui/scrollbar/src/scroll-bar.tsx
  src/App.vue
Due: yarn prettier, yarn lint, stylelint --fix

docs: messageBox docs
  docs/.vitepress/sidebar.json
  docs/components/loadingBar/index.md
  docs/components/message/index.md
  docs/components/messageBox/index.md
  docs/components/table/index.md
  promiseui-cli/generator/generatorComponent.ts
  promiseui/loadingBar/__test__/loadingBar.spec.ts
  promiseui/loadingBar/index.ts
  promiseui/loadingBar/src/index.scss
  promiseui/loadingBar/src/loadingBar-types.ts
  promiseui/loadingBar/src/loadingBar.tsx
  promiseui/messageBox/index.ts
  promiseui/messageBox/src/messageBox.tsx
  promiseui/table/__test__/table.spec.ts
  promiseui/table/index.ts
  promiseui/table/src/index.scss
  promiseui/table/src/table-types.ts
  promiseui/table/src/table.tsx
  promiseui/vue-promiseui.ts
  src/App.vue
Due: yarn prettier, yarn lint, stylelint --fix

feat: loadingbar
  promiseui/loadingBar/src/index.scss
  promiseui/loadingBar/src/loadingBar-types.ts
  promiseui/loadingBar/src/loadingBar.tsx
  promiseui/loadingBar/src/loadingBarService.tsx
  src/App.vue
  tsconfig.json
Due: yarn prettier, yarn lint, stylelint --fix

docs: loadingBar docs
  docs/components/loadingBar/index.md
Due: none

docs: loadingbar
  promiseui/button/src/index.scss
  promiseui/loadingBar/index.ts
  promiseui/loadingBar/src/index.scss
  promiseui/vue-promiseui.ts
Due: yarn prettier, yarn lint, stylelint --fix

docs: 文档添加anchor
  docs/.vitepress/plugins/vitepress-demo-editor/compiler/index.ts
  docs/.vitepress/theme/promiseui-theme/components/Anchor.vue
  docs/.vitepress/theme/promiseui-theme/components/Page.vue
  docs/.vitepress/theme/promiseui-theme/components/SideBar.vue
  docs/components/tag/index.md
Due: yarn prettier, yarn lint, stylelint --fix

fix: autocomplete 表单验证bug
  promiseui/autoComplete/src/autoComplete.tsx
  promiseui/input/src/input.tsx
  promiseui/table/src/table-types.ts
Due: yarn prettier, yarn lint

fix: logo styles
  docs/.vitepress/theme/promiseui-theme/components/NavBarTitle.vue
  docs/.vitepress/theme/promiseui-theme/styles/vars.css
  promiseui/shared/common.ts
Due: yarn prettier, yarn lint, stylelint --fix

docs: 添加文档首页,修改部分样式
  docs/.vitepress/config.ts
  docs/.vitepress/sidebar.json
  docs/.vitepress/theme/index.ts
  docs/.vitepress/theme/promiseui-theme/components/HomeFeatures.vue
  docs/.vitepress/theme/promiseui-theme/components/HomeHero.vue
  docs/.vitepress/theme/promiseui-theme/components/NavBarTitle.vue
  docs/.vitepress/theme/promiseui-theme/styles/layout.css
  docs/index.md
  docs/quick-start/index.md
  package.json
  yarn.lock
Due: yarn prettier, yarn lint, stylelint --fix

fix: dropdown hover 闪烁bug
  docs/components/popover/index.md
  promiseui/dropdown/src/dropdown-types.ts
  promiseui/dropdown/src/dropdown.tsx
  promiseui/dropdown/src/hooks/use-event.ts
  promiseui/overlay/src/overlay.tsx
  promiseui/popover/src/popover-types.ts
  promiseui/popover/src/popover.tsx
  promiseui/table/src/table.tsx
Due: yarn prettier, yarn lint

feat: table base
  promiseui/table/src/hooks/use-column.ts
  promiseui/table/src/hooks/use-data-source.ts
  promiseui/table/src/hooks/use-table-store.ts
  promiseui/table/src/index.scss
  promiseui/table/src/table-body.tsx
  promiseui/table/src/table-header.tsx
  promiseui/table/src/table-types.ts
  promiseui/table/src/table.tsx
  promiseui/vue-promiseui.ts
  src/App.vue
Due: yarn prettier, yarn lint, stylelint --fix

fix: 去掉scrollbar用margin隐藏滚动条,改为::-webkit-scrollbar
  docs/components/scrollbar/index.md
  promiseui/scrollbar/src/index.scss
  promiseui/scrollbar/src/scroll-bar.tsx
  promiseui/scrollbar/src/scrollbar.tsx
  promiseui/styles/_animation.scss
  promiseui/styles/_colors.scss
  promiseui/theme/themes/dark.ts
  promiseui/theme/themes/light.ts
Due: yarn prettier, yarn lint, stylelint --fix

feat: table 支持 border 和 stripe
  promiseui/shared/components/empty/index.scss
  promiseui/shared/components/empty/index.tsx
  promiseui/styles/_colors.scss
  promiseui/styles/_normalize.scss
  promiseui/table/src/index.scss
  promiseui/table/src/table-body.tsx
  promiseui/table/src/table-header.tsx
  promiseui/table/src/table.tsx
  promiseui/theme/themes/dark.ts
  promiseui/theme/themes/light.ts
  src/App.vue
  src/main.ts
Due: yarn prettier, yarn lint, stylelint --fix

feat: table add rowProps
  promiseui/scrollbar/src/scroll-bar.tsx
  promiseui/table/src/table-body.tsx
  promiseui/table/src/table-types.ts
  promiseui/table/src/table.tsx
  src/App.vue
Due: yarn prettier, yarn lint, stylelint --fix

feat: table 支持排序
  promiseui/table/src/hooks/use-data-source.ts
  promiseui/table/src/hooks/use-table-store.ts
  promiseui/table/src/index.scss
  promiseui/table/src/store/index.ts
  promiseui/table/src/table-body.tsx
  promiseui/table/src/table-header.tsx
  promiseui/table/src/table-sorter.tsx
  promiseui/table/src/table-types.ts
  promiseui/table/src/table.tsx
  src/App.vue
Due: yarn prettier, yarn lint, stylelint --fix

feat: table 支持排序和过滤
  promiseui/button/src/index.scss
  promiseui/dropdown/src/dropdown-types.ts
  promiseui/dropdown/src/dropdown.tsx
  promiseui/dropdown/src/hooks/use-event.ts
  promiseui/table/src/index.scss
  promiseui/table/src/store/index.ts
  promiseui/table/src/table-body.tsx
  promiseui/table/src/table-filter.tsx
  promiseui/table/src/table-header.tsx
  promiseui/table/src/table-types.ts
  src/App.vue
Due: yarn prettier, yarn lint, stylelint --fix

feat: table rowkey
  promiseui/table/src/store/index.ts
  promiseui/table/src/table-body.tsx
  promiseui/table/src/table-filter.tsx
  promiseui/table/src/table-types.ts
  promiseui/table/src/table.tsx
  src/App.vue
Due: yarn prettier, yarn lint, stylelint --fix

feat: table 支持selection
  promiseui/checkbox/src/checkbox-types.ts
  promiseui/checkbox/src/checkbox.tsx
  promiseui/checkbox/src/hooks/use-checkbox.ts
  promiseui/checkbox/src/index.scss
  promiseui/table/src/index.scss
  promiseui/table/src/store/index.ts
  promiseui/table/src/store/use-selection.ts
  promiseui/table/src/table-body.tsx
  promiseui/table/src/table-header.tsx
  promiseui/table/src/table-types.ts
  src/App.vue
Due: yarn prettier, yarn lint, stylelint --fix

fix: selection chang事件支持keys和rows
  promiseui/checkbox/src/hooks/use-checkbox.ts
  promiseui/table/src/store/index.ts
  promiseui/table/src/store/use-selection.ts
  promiseui/table/src/table-body.tsx
  promiseui/table/src/table-types.ts
  src/App.vue
Due: yarn prettier, yarn lint, stylelint --fix

feat: table Layout 支持fixed 或者 auto
  promiseui/shared/utils/styleStringOrNumber.ts
  promiseui/table/src/index.scss
  promiseui/table/src/table-body.tsx
  promiseui/table/src/table-header.tsx
  promiseui/table/src/table-types.ts
  promiseui/table/src/table.tsx
Due: yarn prettier, yarn lint, stylelint --fix

fix: 修改table样式
  promiseui/table/src/index.scss
Due: stylelint --fix

fix: table 支持滚动
  promiseui/table/src/hooks/use-cell-class.ts
  promiseui/table/src/hooks/use-sticky-offset.tsx
  promiseui/table/src/index.scss
  promiseui/table/src/store/index.ts
  promiseui/table/src/store/use-selection.ts
  promiseui/table/src/table-body.tsx
  promiseui/table/src/table-header.tsx
  promiseui/table/src/table-types.ts
  promiseui/table/src/table.tsx
  src/App.vue
Due: yarn prettier, yarn lint, stylelint --fix

feat: table 支持 fixed
  promiseui/form/src/hooks/use-form.tsx
  promiseui/scrollbar/src/index.scss
  promiseui/shared/utils/getValueByPathArray.ts
  promiseui/shared/utils/getValueByPathname.ts
  promiseui/table/src/hooks/use-selection.ts
  promiseui/table/src/hooks/use-sticky-offset.tsx
  promiseui/table/src/index.scss
  promiseui/table/src/store/index.ts
  promiseui/table/src/table-body.tsx
  promiseui/table/src/table-header.tsx
  promiseui/table/src/table-types.ts
  promiseui/table/src/table.tsx
  promiseui/table/src/utils/getColKey.ts
  promiseui/table/src/utils/getRowKey.ts
  src/App.vue
Due: yarn prettier, yarn lint, stylelint --fix

feat: table column 可以通过传入render函数来自定义渲染内容
  promiseui/table/src/hooks/use-sticky-offset.tsx
  promiseui/table/src/index.scss
  promiseui/table/src/table-body.tsx
  promiseui/table/src/table-header.tsx
  promiseui/table/src/table-types.ts
  promiseui/table/src/table.tsx
  src/App.vue
Due: yarn prettier, yarn lint, stylelint --fix

fix: input expose blur,focus,columndataIndex非必填
  promiseui/input/src/input.tsx
  promiseui/table/src/table-body.tsx
  promiseui/table/src/table-types.ts
  src/App.vue
Due: yarn prettier, yarn lint, stylelint --fix

feat: table 支持template写法
  promiseui/table/index.ts
  promiseui/table/src/components/table-body.tsx
  promiseui/table/src/components/table-filter.tsx
  promiseui/table/src/components/table-header.tsx
  promiseui/table/src/components/table-sorter.tsx
  promiseui/table/src/hooks/use-column.ts
  promiseui/table/src/hooks/use-columns.ts
  promiseui/table/src/store/index.ts
  promiseui/table/src/table-column.tsx
  promiseui/table/src/table-types.ts
  promiseui/table/src/table.tsx
  src/App.vue
  src/Demo.vue
Due: yarn prettier, yarn lint, stylelint --fix

fix: table template写法render报错
  promiseui/table/src/components/table-body.tsx
Due: yarn prettier, yarn lint

fix: table template写法 render 报错
  promiseui/table/src/hooks/use-columns.ts
  promiseui/table/src/hooks/use-sticky-offset.tsx
  promiseui/table/src/store/index.ts
  src/App.vue
Due: yarn prettier, yarn lint, stylelint --fix

fix: 去除rowStyle,rowClass 采用统一的rowProps和cellProps设置
  promiseui/table/src/components/table-body.tsx
  promiseui/table/src/components/table-header.tsx
  promiseui/table/src/index.scss
  promiseui/table/src/table-types.ts
  promiseui/table/src/table.tsx
  promiseui/table/src/utils/getStyles.tsx
  src/App.vue
Due: yarn prettier, yarn lint, stylelint --fix

docs: table docs
  docs/.vitepress/plugins/vitepress-demo-editor/components/Demo.vue
  docs/.vitepress/theme/promiseui-theme/components/ToggleTheme.vue
  docs/.vitepress/theme/promiseui-theme/styles/layout.css
  docs/components/table/index.md
  promiseui/table/src/components/table-header.tsx
  promiseui/table/src/index.scss
  promiseui/table/src/table.tsx
  src/App.vue
  src/Demo.vue
Due: yarn prettier, yarn lint, stylelint --fix

fix: docs icon
  docs/public/favicon.ico
  package.json
  promiseui-cli/commands/build.ts
  promiseui-cli/commands/create.ts
  promiseui-cli/generator/generatorComponent.ts
  src/App.vue
  yarn.lock
Due: yarn prettier, yarn lint, stylelint --fix

fix: import @vue/reactivity 导致的bug
  docs/.vitepress/sidebar.json
  promiseui-cli/templates/component-test.ts
  promiseui/autoComplete/src/autoComplete.tsx
  promiseui/scrollbar/src/index.scss
  promiseui/scrollbar/src/scroll-bar.tsx
  promiseui/select/src/select.tsx
Due: yarn prettier, yarn lint, stylelint --fix

docs: table docs
  docs/components/table/index.md
  promiseui/input/src/input-types.ts
  promiseui/input/src/input.tsx
  promiseui/message/src/message.tsx
  promiseui/table/src/components/table-body.tsx
  promiseui/table/src/components/table-header.tsx
  promiseui/table/src/hooks/use-cell-class.ts
  promiseui/table/src/hooks/use-columns.ts
  promiseui/table/src/hooks/use-selection.ts
  promiseui/table/src/index.scss
  promiseui/table/src/table-types.ts
  promiseui/table/src/table.tsx
  src/App.vue
Due: yarn prettier, yarn lint, stylelint --fix

feat: 发布npm
  package.json
  promiseui-cli/commands/build.ts
  promiseui-cli/commands/create.ts
  promiseui/index.ts
  src/main.ts
  vite.config.ts
  yarn.lock
Due: yarn prettier, yarn lint

feat: resolver
  .eslintignore
  package-lock.json
  package.json
  promiseui/resolver.ts
  src/App.vue
  yarn.lock
Due: yarn prettier, yarn lint, stylelint --fix

docs: 修改promiseui 为 promiseui-vue
  docs/components/autoComplete/index.md
  docs/components/button/index.md
  docs/components/checkbox/index.md
  docs/components/form/index.md
  docs/components/input/index.md
  docs/components/loadingBar/index.md
  docs/components/message/index.md
  docs/components/messageBox/index.md
  docs/components/modal/index.md
  docs/components/radio/index.md
  docs/components/scrollbar/index.md
  docs/components/select/index.md
  docs/components/switch/index.md
  docs/components/table/index.md
  docs/components/tabs/index.md
  docs/components/tag/index.md
  package.json
Due: none

docs: 快速开始
  docs/.vitepress/theme/register-components.js
  docs/quick-start/index.md
  promiseui/index.ts
  promiseui/resolver.ts
Due: yarn prettier, yarn lint

fix: button default background-color
  promiseui/button/src/index.scss
  public/favicon.ico
Due: stylelint --fix

fix: table-filter active-color
  docs/components/table/index.md
  promiseui/table/src/components/table-filter.tsx
  promiseui/table/src/index.scss
Due: yarn prettier, yarn lint, stylelint --fix

fix: table filter checkbox label color
  promiseui/table/src/index.scss
Due: stylelint --fix

Path conditions:
  yarn prettier: any of: *.{js,ts,tsx,vue}
  yarn lint: any of: *.{js,ts,tsx,vue}
  stylelint --fix: any of: *.{html,vue,css,scss,sass,less}
